#################
## .emacs.d 
#################

elpa
auto-save-list

#################
## emacs
#################

*~

################
## clojure
###############

repl-port


# Mac crap
.DS_Store



