#################
## .emacs.d 
#################

elpa
auto-save-list
.smex-items
places
ido.last
ac-comphist.dat

#################
## emacs
#################

*~

################
## clojure
###############

repl-port


# Mac crap
.DS_Store


#CIDER
cider-history
/.mc-lists.el
eshell/
/smex-items
semanticdb
/projectile.cache
server
/srecode-map.el
/ede-projects.el
/projectile-bookmarks.eld
/TAGS
/host-specific
/bookmarks
/network-security.data
/#ido.last#
/tramp
