#################
## .emacs.d 
#################

elpa
auto-save-list
.smex-items
places
ido.last

#################
## emacs
#################

*~

################
## clojure
###############

repl-port


# Mac crap
.DS_Store



